@import "variables";
@import "flex";

.ticket-card {
  max-width: $min-container-width;
  margin-bottom: 1rem;
  @include flex-shrink(0);
  mat-card-header mat-card-subtitle, mat-card-header mat-card-title, mat-card-content p {
    max-width: 216px;
  }
  &, mat-card-content {
    @extend %flex;
    @include flex-direction(column);
  }
  mat-card-content {
    @include flex(1);
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: .4rem;
      }
    }
  }
  .card-body-banner {
    width: $min-container-width;
  }
}