@import "flex";
@import "calc";
@import "variables";

.sidenav-container {
  mat-sidenav-content {
    @include calc(min-height, 100vh, '-', $toolbar-height);
    margin-top: $toolbar-height;
    @media (max-width: 599px) {
      @include calc(min-height, 100vh, '-', $toolbar-height-sm);
      margin-top: $toolbar-height-sm;
    }
    mat-toolbar {
      position: fixed;
      top: 0;
      z-index: 1;
    }
  }
  mat-sidenav {
    mat-toolbar {
      @include justify-content(center);
      img {
        outline: none;
      }
    }
    mat-nav-list {
      padding-top: 0;
    }
  }
  .user-name {
    @extend %flex;
    @include align-items(center);
  }
}