<div class="alert alert-success" *ngIf="auth.user | async as user">
  {{user.email}} {{user.displayName}}
  <img src="{{user.photoURL}}" alt="">
</div>
<form #loginForm="ngForm" (ngSubmit)="login(loginForm.valid)" novalidate>
  <input type="email" required class="form-control w-25" [(ngModel)]="email" name="email">
  <input type="password" required class="form-control w-25" [(ngModel)]="password" name="password">
  <input type="password" required *ngIf="signUp" class="form-control w-25" [(ngModel)]="passwordConfirm" name="password">
  <button type="button" (click)="signUp = !signUp" class="btn btn-outline-success">{{ signUp ? 'Login' : 'Registrar'}}</button>
  <button type="submit" class="btn btn-outline-dark">Enviar</button>
</form>
<!-- <div class="card" *ngFor="let note of data | async">
  {{note | json}}
</div>
<div *ngIf="showLoading">
  <app-loading-spinner></app-loading-spinner>
</div> -->
<button class="btn btn-success" (click)="login()">Login</button>
<button class="btn btn-danger" (click)="logout()">Logout</button>
<button class="btn btn-warning" [routerLink]="['/test']">Teste Auth</button>