<div class="alert">
  <app-alert>
    alerta dentro do card
  </app-alert>
</div>

<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <mat-form-field>
    <input matInput required formControlName="email" [formGroup]="loginForm" placeholder="Email">
    <mat-error *ngIf="loginForm.controls.email.errors?.email && !loginForm.controls.email.errors?.required">
      Email <strong>inválido</strong>
    </mat-error>
    <mat-error *ngIf="loginForm.controls.email.errors?.required">
      Email é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput required type="password" formControlName="password" [formGroup]="loginForm" placeholder="Senha">
    <mat-error *ngIf="loginForm.controls.password.errors?.required">
      Senha é <strong>obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="signUp" >
    <input matInput required type="password" formControlName="passwordConfirm" [formGroup]="loginForm" placeholder="Confirme sua senha">
    <mat-error *ngIf="loginForm.controls.passwordConfirm.errors?.pwMatch && !loginForm.controls.passwordConfirm.errors?.required">
      Senhas <strong>não coincidem</strong>
    </mat-error>
    <mat-error *ngIf="loginForm.controls.passwordConfirm.errors?.required">
      Senha é <strong>obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <button class="btn-toggle-signup" mat-raised-button color="warn" type="button" (click)="signUp = !signUp">{{ signUp ? 'Login' : 'Registrar-se'}}</button>
  <button class="btn-login" mat-raised-button color="primary" type="submit">{{ signUp ? 'Enviar' : 'Entrar'}}</button>
</form>