<div class="section-logo">
  <img class="logo" src="/assets/images/logo.svg" alt="Logotipo Curumim viajante" routerLink="/client">
</div>

<div class="social-buttons" [@fallInOut] *ngIf="loginType === 'social'">
  <button disabled class="btn-facebook" mat-raised-button type="button" (click)="auth.facebookLogin()">
    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
    Login com Facebook
  </button>
  <button disabled class="btn-google" mat-raised-button type="button" (click)="auth.googleLogin()">
    <fa-icon [icon]="['fab', 'google-plus-g']"></fa-icon>
    Login com Google
  </button>
  <button disabled class="btn-github" mat-raised-button type="button" (click)="auth.gitHubLogin()">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    Login com GitHub
  </button>
  <button class="btn-email" mat-raised-button type="button" (click)="loginType = 'email'">
    <fa-icon [icon]="['far', 'envelope']"></fa-icon>
    E-mail
  </button>
  <a class="link-signup" (click)="toggleLoginType('email')">Ainda não tem uma conta? <strong>Registre-se</strong> aqui</a>
</div>

<form [formGroup]="loginForm" class="standart-login-form" [@fallInOut] (ngSubmit)="login()" novalidate *ngIf="loginType === 'email'">
  <mat-form-field class="input-section">
    <input matInput required formControlName="email" [formGroup]="loginForm" placeholder="E-mail">
    <mat-error *ngIf="email.errors?.email && !email.errors?.required">
      E-mail <strong>inválido</strong>
    </mat-error>
    <mat-error *ngIf="email.errors?.required">
      E-mail é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input-section">
    <input matInput required type="password" formControlName="password" [formGroup]="loginForm" placeholder="Senha">
    <mat-error *ngIf="password.errors?.required">
      Senha é <strong>obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <ng-container *ngIf="signUp">
    <mat-form-field class="input-section">
      <input matInput required type="password" formControlName="passwordConfirm" [formGroup]="loginForm" placeholder="Confirme sua senha">
      <mat-error *ngIf="passwordConfirm.errors?.pwMatch && !passwordConfirm.errors?.required">
        Senhas <strong>não coincidem</strong>
      </mat-error>
      <mat-error *ngIf="passwordConfirm.errors?.required">
        Senha é <strong>obrigatória</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
  <div class="section-buttons-options-email-form">
    <button class="btn-login" mat-raised-button color="primary" type="submit">{{ signUp ? 'Enviar' : 'Entrar'}}</button>
  </div>
  <a class="link-signin" (click)="toggleLoginType('social')">Login com redes sociais</a>
</form>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>