<app-seller-dashboard-filter (destinationChanged)="filterByDestination($event)"></app-seller-dashboard-filter>

<div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card *ngFor="let ticket of destinationFilteredOwnerTickets" class="ticket-card mat-elevation-z4">
    <mat-card-header>
      <img [src]="ticket.owner.photoURL" mat-card-avatar>
      <mat-card-title>{{ ticket.title }}</mat-card-title>
      <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="ticket.banner" class="card-body-banner">
    <mat-card-content>
      <p>De: {{ ticket.root }}</p>
      <p>Para: {{ ticket.destination }}</p>
      <p>Por: {{ ticket.price | currency:'BRL':'symbol-narrow':'1.0-2' }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent">
        Visualizar
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>