<form class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field color="accent" class="destination-input">
    <mat-icon color="accent" matPrefix>search</mat-icon>
    <input placeholder="Destino" matInput [formControl]="destinationInput" [matAutocomplete]="destinationAuto">
    <mat-icon color="accent" matSuffix *ngIf="destinationInput.value" (click)="destinationInput.reset()">close</mat-icon>
    <mat-autocomplete #destinationAuto="matAutocomplete">
      <mat-option *ngFor="let option of arrayDestination" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-mini-fab color="accent" routerLink="passagem/cadastrar">
    <mat-icon>add</mat-icon>
  </button>
</form>