@import "variables";
@import "input";

.container {
  padding-top: 1rem;
  .destination-input {
    width: $min-container-width - 50px;
    @extend %input-with-icons;
    @extend %input-accent;
  }
  button {
    margin-left: 10px;
  }
}
