<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">
      <img src="/assets/images/logobw.svg" width="50" height="50" routerLink="/seller">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/client']">Passagens à Venda</a>
      <a mat-list-item [routerLink]="['perfil/editar']">Meu Perfil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="material-main-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="user-name" *ngIf="auth.user | async as user; else noUser">
        {{ user.displayName || user.email }}
        <button
        type="button"
        aria-label="Logout button"
        (click)="auth.logout()"
        mat-icon-button>
        <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
        </button>
      </span>
      <ng-template #noUser>
        <span class="user-name">Curumim Viajante</span>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>