@import "variables";
@import "input";
@import "flex";
@import "ticket-card";

.container {
  padding: 2rem 0;
  .card-ticket-form {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    mat-card-content {
      margin: 0;
      .loading-place {
        width: $min-container-width - 32px;
        text-align: center;
        @extend %inline-flex;
        @include justify-content(center);
      }
    }
    .input-form-card {
      min-width: $min-container-width - 32px;
      @extend %input-with-icons;
      @extend %input-accent;
    }
  }
}