<form class="container" [formGroup]="ticketForm" (ngSubmit)="saveTicket()">
  <mat-card class="card-ticket-form" *ngIf="!isLoading.onSubmit">
    <mat-card-content>
      <mat-form-field class="input-form-card" color="accent">
        <input formControlName="title" placeholder="Título" matInput required autocomplete="off">
        <mat-icon color="accent" matSuffix *ngIf="title.value" (click)="title.reset()">close</mat-icon>
        <mat-error *ngIf="title.errors?.required">
          Título é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form-card" color="accent">
        <input formControlName="description" placeholder="Descrição" matInput required autocomplete="off">
        <mat-icon color="accent" matSuffix *ngIf="description.value" (click)="description.reset()">close</mat-icon>
        <mat-error *ngIf="description.errors?.required">
          Descrição é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form-card" color="accent" formGroupName="rootGroup">
        <mat-select class="select-accent" formControlName="state" placeholder="Estado de origem" required>
          <mat-option *ngFor="let state of placeService.states | async" [value]="state">
            {{ state.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="rootState.errors?.required">
          Estado de origem é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form-card" color="accent" formGroupName="rootGroup" [fxHide]="isLoading.rootCities">
        <mat-select class="select-accent" formControlName="city" placeholder="Cidade de origem" required>
          <mat-option *ngFor="let city of rootCities" [value]="city.nome">
            {{ city.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="rootCity.errors?.required">
          Cidade de origem é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
      <div class="loading-place" [fxHide]="!isLoading.rootCities"><mat-spinner color="accent" diameter="30"></mat-spinner></div>
      <mat-form-field class="input-form-card" color="accent" formGroupName="destinationGroup">
        <mat-select class="select-accent" formControlName="state" placeholder="Estado de destino" required>
          <mat-option *ngFor="let state of placeService.states | async" [value]="state">
            {{ state.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="destinationState.errors?.required">
          Estado de destino é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form-card" color="accent" formGroupName="destinationGroup" [fxHide]="isLoading.destinationCities">
        <mat-select class="select-accent" formControlName="city" placeholder="Cidade de destino" required>
          <mat-option *ngFor="let city of destinationCities" [value]="city.nome">
            {{ city.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="destinationCity.errors?.required">
          Cidade de destino é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
      <div class="loading-place" [fxHide]="!isLoading.destinationCities"><mat-spinner color="accent" diameter="30"></mat-spinner></div>
      <mat-form-field class="input-form-card" color="accent">
        <span matPrefix class="accent-color">R$ &nbsp;</span>
        <input type="number" min="1" formControlName="price" placeholder="Preço" matInput required autocomplete="off">
        <mat-icon color="accent" matSuffix *ngIf="price.value" (click)="price.reset()">close</mat-icon>
        <mat-error *ngIf="price.errors?.required">
          Preço é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form-card" color="accent">
        <input formControlName="banner" placeholder="Foto URL" matInput required autocomplete="off">
        <mat-icon color="accent" matSuffix *ngIf="banner.value" (click)="banner.reset()">close</mat-icon>
        <mat-error *ngIf="banner.errors?.required">
          Foto URL é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="submit" mat-raised-button color="accent">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>

<div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card class="ticket-card mat-elevation-z4">
    <mat-card-header>
      <img [src]="userImage || banner.value" mat-card-avatar>
      <mat-card-title>{{ title.value || 'Nome do barco' }}</mat-card-title>
      <mat-card-subtitle>{{ description.value || 'Mensagem' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="banner.value || 'https://firebasestorage.googleapis.com/v0/b/curumim-viajante.appspot.com/o/barquinho.png?alt=media&token=b2dce238-2f85-48f6-90fb-c12115afc50c'" class="card-body-banner">
    <mat-card-content>
      <p>De: {{ root }}</p>
      <p>Para: {{ destination }}</p>
      <p>Por: {{ price.value | currency:'BRL':'symbol-narrow':'1.0-2' }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">
        Comprar
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-loading-spinner *ngIf="isLoading.onSubmit"></app-loading-spinner>