$primary: #27845C;
$secondary: #F7845C;
$theme-primary: #43a047;
$theme-secondary: #f4511e;

$bg-light-green: #d1ffc6;

// alerts
$alert-success: #2ecc71;
$alert-danger: #e74c3c;
$alert-warning: #fbc80f;

// social login
$facebook-bg: #3B5998;
$gmail-bg: #DD4B39;
$github-bg: #444;
$email-bg: #F3F3F3;
$social-buttons-color: #FFF;
$email-button-color: #363636;