@import "variables";
@import "input";

.container {
  padding-top: 1rem;
  .root-input, .destination-input {
    width: $min-container-width;
    @extend %input-with-icons;
    @extend %input-primary;
  }
}
