<form class="container" fxLayout="row wrap" fxLayoutAlign="center">
  <mat-form-field color="primary" class="root-input">
    <mat-icon color="primary" matPrefix>search</mat-icon>
    <input type="text" placeholder="Origem" matInput [formControl]="rootInput" [matAutocomplete]="rootAuto">
    <mat-icon color="primary" matSuffix *ngIf="rootInput.value" (click)="rootInput.reset()">close</mat-icon>
    <mat-autocomplete #rootAuto="matAutocomplete">
      <mat-option *ngFor="let option of arrayRoot" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field color="primary" class="destination-input">
    <mat-icon color="primary" matPrefix>search</mat-icon>
    <input placeholder="Destino" matInput [formControl]="destinationInput" [matAutocomplete]="destinationAuto">
    <mat-icon color="primary" matSuffix *ngIf="destinationInput.value" (click)="destinationInput.reset()">close</mat-icon>
    <mat-autocomplete #destinationAuto="matAutocomplete">
      <mat-option *ngFor="let option of arrayDestination" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>