@import "color";

%snackbar-alert {
  color: #FFF;
  font-family: Roboto;
  font-weight: 400;
  .mat-simple-snackbar {
    font-size: 20px;
    justify-content: center;
  }
}

.alert-success {
  @extend %snackbar-alert;
  background-color: $alert-success;
}
.alert-danger {
  @extend %snackbar-alert;
  background-color: $alert-danger;
}
.alert-warning {
  @extend %snackbar-alert;
  background-color: $alert-warning;
}