@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-green, 600);
$theme-accent: mat-palette($mat-deep-orange, 600);
$theme-warn: mat-palette($mat-red, A200);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);