<form [formGroup]="profileForm" (ngSubmit)="save()" novalidate>
  <div class="container" fxLayout="row wrap" fxLayoutAlign="space-evenly">
    <mat-card class="preview-card">
      <img [src]="photoURL.value" mat-card-avatar class="profile-image mat-elevation-z8" (click)="onClickImage()" [fxHide]="isUploading"
        (error)="imgPlaceholder($event)">
      <mat-spinner diameter="200" [fxHide]="!isUploading"></mat-spinner>
      <input type="file" (change)="onUpload($event)" fxHide="true" #file>
      <mat-card-content>
        <mat-card-title>{{ displayName.value || user?.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <mat-card class="form-card">
      <mat-card-title>Editar Perfil</mat-card-title>
      <mat-card-content>
        <mat-form-field class="input-form-card">
          <input matInput formControlName="displayName" placeholder="Nome">
          <mat-icon color="primary" matSuffix *ngIf="displayName.value" (click)="displayName.reset()">close</mat-icon>
        </mat-form-field>
        <mat-form-field class="input-form-card">
          <input matInput formControlName="photoURL" placeholder="Foto URL">
          <mat-icon color="primary" matSuffix *ngIf="photoURL.value" (click)="photoURL.reset()">close</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Salvar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>