@import "variables";
@import "flex";

$image-offset: 4rem;
$image-size: 200px;

.container {
  padding: 2rem 0 4rem 0;
  .preview-card, .form-card {
    min-width: $min-container-width;
    max-width: $min-container-width + 80px;
    width: auto;
    text-align: center;
    margin-top: $image-offset / 2;
  }
  .preview-card {
    .profile-image {
      margin: -$image-offset 0 1.5rem 0;
      width: $image-size;
      height: $image-size;
      cursor: pointer;
    }
    mat-spinner {
      margin: -$image-offset auto 1.5rem auto;
    }
  }
  .form-card {
    @include flex-shrink(0);
    &, mat-card-content {
      @extend %flex;
      @include flex-direction(column);
    }
    mat-card-content {
      @include flex(1);
    }
  }
}