@import "color";

%input-with-icons {
  mat-icon {
    position: relative;
    top: 6px;
    right: 4px;
    cursor: pointer;
  }
}

%input-primary {
  color: $theme-primary;
}
%input-accent {
  color: $theme-secondary;
}